/* COLORS FOR HEADERS AND COPY */
$dark-grey-h1: #4E4E54;
$dark-grey-h2: #959599;

$green-copy: #0DBE72;
$dark-grey-copy: #55555C;
$medium-grey-copy: #959599;
$white-copy: #F2F2F2;

$grey-social: #8C8C93;

/* COLORS FOR STRUCTURE */
$green: #0DBE72;
$card-border: #F1F1F1;
$copyin-left-column: #F2F2F2;