@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNova-RegularWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularWeb.woff2") format("woff2"), url("../fonts/ProximaNova-RegularWeb.woff") format("woff"), url("../fonts/ProximaNova-RegularWeb.ttf") format("truetype"), url("../fonts/ProximaNova-RegularWeb.svg#ProximaNova-Regular") format("svg"); }
@font-face {
  font-family: "ProximaNova-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNova-MediumWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-MediumWeb.woff2") format("woff2"), url("../fonts/ProximaNova-MediumWeb.woff") format("woff"), url("../fonts/ProximaNova-MediumWeb.ttf") format("truetype"), url("../fonts/ProximaNova-MediumWeb.svg#ProximaNova-Medium") format("svg"); }
@font-face {
  font-family: "ProximaNova-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNova-SemiboldWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiboldWeb.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldWeb.woff") format("woff"), url("../fonts/ProximaNova-SemiboldWeb.ttf") format("truetype"), url("../fonts/ProximaNova-SemiboldWeb.svg#ProximaNova-SemiBold") format("svg"); }
@font-face {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNova-BoldWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-BoldWeb.woff2") format("woff2"), url("../fonts/ProximaNova-BoldWeb.woff") format("woff"), url("../fonts/ProximaNova-BoldWeb.ttf") format("truetype"), url("../fonts/ProximaNova-BoldWeb.svg#ProximaNova-Bold") format("svg"); }